@font-face {
    font-family: 'Poppins_Regular';
    src: url('../assets/fonts/Poppins-Regular.woff') format('woff'),
        url('../assets/fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins_Medium';
    src: url('../assets/fonts/Poppins-Medium.woff') format('woff'),
        url('../assets/fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins_semibold';
    src: url('../assets/fonts/Poppins-SemiBold.woff') format('woff'),
        url('../assets/fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins_bold';
    src: url('../assets/fonts/Poppins-Bold.woff') format('woff'),
        url('../assets/fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: 0 0;
    font-style: normal;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Poppins_Regular';
}

ul {
    list-style: none;
}

a {
    display: block;
    color: #fff;
}

img {
    width: 100%;
    display: block;
}

.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

section.main {
    background-image: url(../assets/images/spotlight.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
}

section.main header div.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}

section.main header section.wrapper div.left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

body > section > header > section > div.left > h1 {
    margin-right: 15px;
}

section.main header section.wrapper div.left ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 390px;
}

section.main header section.wrapper div.left ul li {
    color: #fff;
    font-family: 'Poppins_semibold';
}

section.main header section.wrapper div.right ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
}

section > header > section > div > div.left > ul > li > a {
    color: #fff;
    font-size: 14px;
}

section.main header section.wrapper div.right ul li.english {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

section.main header section.wrapper div.right ul li.english p.en { 
    font-family: 'Poppins_semibold';
    color: #fff;
}

body > section > header > section > div.right > ul > li.english > div {
    width: 20px;
}

section.main header section.wrapper div.right ul li.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

section.main header section.wrapper div.right ul li.user p.sign-in {
    font-family: 'Poppins_semibold';
    color: #fff;
}

section.main header section.wrapper div.right ul li.download-button button.download {
    border: none;
    background-color: #0087FF;
    display: inline-block;
    border-radius: 56px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.125;
    line-height: 1;
    padding: 1.5rem 2.5rem;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

section.main section.spotlight { 

}

section.main section.spotlight section.wrapper { 

}

section.main section.spotlight section.wrapper div.country-code { 

}

section.main section.spotlight section.wrapper div.country-code p { 

}

section.main section.spotlight section.wrapper div.search { 

}

section.main section.spotlight section.wrapper div.search h1 { 

}

section.main section.spotlight section.wrapper div.search input { 

}

section.main section.spotlight section.wrapper div.search div.search-icon { 

}

section.main section.spotlight section.wrapper div.search div.search-icon img { 

}

section.main section.spotlight section.wrapper ul { 

}

section.main section.spotlight section.wrapper ul li.play-store { 

}

section.main section.spotlight section.wrapper ul li.play-store div.store-icon { 

}

section.main section.spotlight section.wrapper ul li.play-store div.store-icon img { 

}

section.main section.spotlight section.wrapper ul li.play-store div.rating { 

}

section.main section.spotlight section.wrapper ul li.play-store div.rating p { 

}

section.main section.spotlight section.wrapper ul li.play-store div.rating ul { 

}

section.main section.spotlight section.wrapper ul li.play-store div.rating ul li { 

}

section.main section.spotlight section.wrapper ul li.play-store div.rating ul li div.star { 

}

section.main section.spotlight section.wrapper ul li.play-store div.rating ul li div.star img { 

}

section.main section.spotlight section.wrapper ul li.app-store { 

}

section.main section.spotlight section.wrapper ul li.app-store div.store-icon { 

}

section.main section.spotlight section.wrapper ul li.app-store div.store-icon img { 

}

section.main section.spotlight section.wrapper ul li.app-store p { 

}

section.main section.spotlight section.wrapper ul li.app-store div.rating { 

}

section.main section.spotlight section.wrapper ul li.app-store div.rating p { 

}

section.main section.spotlight section.wrapper ul li.app-store div.rating ul { 

}

section.main section.spotlight section.wrapper ul li.app-store div.rating ul li { 

}

section.main section.spotlight section.wrapper ul li.app-store div.rating ul li div.star { 

}

section.main section.spotlight section.wrapper ul li.app-store div.rating ul li div.star img { 

}

section.main section.spotlight section.wrapper ul li.apk { 

}

section.main section.spotlight section.wrapper ul li.apk div.store-icon { 

}

section.main section.spotlight section.wrapper ul li.apk div.store-icon img { 

}

section.main section.spotlight section.wrapper ul li.apk p { 

}